<body>
	<h1 class="select">MENU' TOOL</h1>
		<div class="menuDiv">
			<img src="https://cdn4.iconfinder.com/data/icons/meBaze-Freebies/512/delete-user.png "class="imgSuperUser"> 
			<a href="/#/insertTool" class="customerLink">
			Inserisci tool
			</a><br>
		</div>
		<div class="menuDiv">
			<img src="https://cdn4.iconfinder.com/data/icons/meBaze-Freebies/512/delete-user.png "class="imgSuperUser"> 
			<a href="/#/readTool" class="customerLink">
			Visualizza tool
			</a><br>
        </div>
        <div class="menuDiv">
            <img src="https://cdn4.iconfinder.com/data/icons/meBaze-Freebies/512/delete-user.png "class="imgSuperUser"> 
			<a href="/#/deleteTool" class="customerLink">Cancella tool</a>
            <br>
        </div>
        <div class="menuDiv">
            <img src="https://cdn4.iconfinder.com/data/icons/meBaze-Freebies/512/delete-user.png "class="imgSuperUser"> 
			<a href="/#/updateTool" class="customerLink">Modifica tool</a>
            <br>
        </div>
</body>
