<body>
	<img src="https://i.postimg.cc/K81z1scJ/1063910-32.png" type = "submit"(click)="indietro(i)">
	<div class="readFase">
	<img src="https://cdn4.iconfinder.com/data/icons/meBaze-Freebies/512/delete-user.png" class="imgSuperUser">
		<h1>VISUALIZZA FASE</h1>
    </div>
<div class="insert">
	<form #f="ngForm">
		<div class="idFase">
			<h2>Seleziona l'id della Macrofase per visualizzare le fasi associate</h2>
		
            <table>
                <tr>
                <h2>Id Macro Fase: </h2>
                    <select name="idMacroFase" ngModel="idMacroFase">
                        <option *ngFor="let macroFase of macro" [value]="macroFase.idMacro">{{macroFase.idMacro}}</option>
                    </select>
                </tr>
			</table>
			<h1> </h1>
			<h1> </h1>
			<h1> </h1>
			<h1> </h1>
            <button class="selectionButton" style="border-radius: 10%" type = "submit"(click)="read(f)"> Seleziona </button>
        </div>
	</form>

	<div class="readTable">
		<table class="table">
				<thead>
					<tr>
							<th>Id Fase</th>
                            <th>Tipologia</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let fase of fase">			
							<td >{{fase.idFase}}</td>
                            <td >{{fase.tipologia}}</td>
						</tr>
				</tbody>
		</table>
		</div>

</div>
</body>