<body>
	<img src="https://i.postimg.cc/K81z1scJ/1063910-32.png" type = "submit"(click)="indietro(i)">
	<div class="deleteCustomer">
		<img
			src="https://cdn4.iconfinder.com/data/icons/meBaze-Freebies/512/delete-user.png"
			class="imgSuperUser">
		<h1>Elimina Tool</h1>
    </div>
<div class="delete">
	<h2>Seleziona l'id del tool da eliminare</h2>
	<form #f="ngForm">
		<div  class="idCustomer"><h2>
			Id tool: </h2>
            <div >
                <select class="select" name="idSelected" ngModel="idSelected">
                    <option *ngFor="let tool of tool" [value]="tool.idTool">{{tool.idTool}}</option>
              </select>
			</div>
		</div>
        <button class="deleteButton" style="border-radius: 10%" type = "submit"(click)="delete(f)"> Elimina</button>
	</form>
	</div>
</body>