<body>
	<h1 class="select">MENU' TOOL</h1>
		<div class="menuDiv">
			<img src="https://cdn4.iconfinder.com/data/icons/meBaze-Freebies/512/delete-user.png "class="imgSuperUser"> 
			<a href="/#/insertCollegamento" class="customerLink">
			Inserisci Collegamento 
			</a><br>
		</div>
		<div class="menuDiv">
			<img src="https://cdn4.iconfinder.com/data/icons/meBaze-Freebies/512/delete-user.png "class="imgSuperUser"> 
			<a href="/#/readCollegamento" class="customerLink">
			Visualizza Collegamento 
			</a><br>
		</div>
		<div class="menuDiv">
			<img src="https://cdn4.iconfinder.com/data/icons/meBaze-Freebies/512/delete-user.png "class="imgSuperUser"> 
			<a href="/#/deleteCollegamento" class="customerLink">
			Cancella Collegamento 
			</a><br>
		</div>
</body>