<body>
    <div class="deleteCustomer">
		<img src="https://image.flaticon.com/icons/png/512/1155/1155556.png"
			class="imgSuperUser">
		<h1>Modifica la tua tipologia</h1>
    </div>
    <div>
    	<div class="thingDiv" style="margin-top: -3%">
			<table class="readCustomer">
			<tr>
				<th>id Tool</th>
				<th>Tipologia</th>
			</tr>
            	<tr *ngFor= "let tool of tool">
				<td>{{tool.idTool}}</td>
				<td>{{tool.tipologia}}</td>
		    </tr>
            </table>     
    </div>   
                   
                <div class="updateThing">
                    <form #f=ngForm >
                        <table>
                            <tr>
                                <td><h2>Id Tool:</h2></td>
                                <td><select name="idselected" ngModel="idselected">
                                        <option *ngFor="let tool of tool" [value]="tool.idTool">{{tool.idTool}}</option>
                                </select></td>
                            </tr>
                            <tr>
                                <td><h2>Inserire nuova tipologia:</h2></td>
                                <td><input type="text" name="newTipologia"
                                    placeholder="inserire nome tipologia" ngModel></td>
                            </tr>
                        </table>
                        <button class="deleteButton" type="submit" (click)="update(f)">Modifica</button>
                    </form>
                </div>
            </div>
             </body>