<body>
	<img src="https://i.postimg.cc/K81z1scJ/1063910-32.png" type = "submit"(click)="indietro(i)">
	<h1 class="select">MENU' MACRO FASI</h1>
		<div class="menuDiv">
			<img src="https://cdn4.iconfinder.com/data/icons/meBaze-Freebies/512/delete-user.png "class="imgSuperUser"> 
			<a href="/#/insertMacro" class="customerLink">
			Inserisci macro fase 
			</a><br>
		</div>
		<div class="menuDiv">
			<img src="https://cdn4.iconfinder.com/data/icons/meBaze-Freebies/512/delete-user.png "class="imgSuperUser"> 
			<a href="/#/readMacro" class="customerLink">
			Visualizza macro fasi 
			</a><br>
		</div>
		<div class="menuDiv">
			<img src="https://cdn4.iconfinder.com/data/icons/meBaze-Freebies/512/delete-user.png "class="imgSuperUser"> 
			<a href="/#/updateMacro" class="customerLink">
			Modifica macro fase 
			</a><br>
		</div>
		<div class="menuDiv">
			<img src="https://cdn4.iconfinder.com/data/icons/meBaze-Freebies/512/delete-user.png "class="imgSuperUser"> 
			<a href="/#/deleteMacro" class="customerLink">
			Cancella macro fase 
			</a><br>
		</div>
</body>
