<body>
	<h1 class="select">MENU' SUPERUSER</h1>
		<div class="menuDiv">
			<img src="https://cdn4.iconfinder.com/data/icons/meBaze-Freebies/512/delete-user.png "class="imgSuperUser"> 
			<a href="/#/superuser" class="customerLink">
			Impostazioni Triz Consultant 
			</a><br>
		</div>
		<div class="menuDiv">
			<img src="https://cdn4.iconfinder.com/data/icons/meBaze-Freebies/512/delete-user.png "class="imgSuperUser"> 
			<a href="/#/toolMenu" class="customerLink">
			Impostazioni tool
			</a><br>
		</div>
</body>
