<body>
	<h1 class="select">Seleziona l'operazione che vuoi effettuare</h1>
	<div >
	<div class="insertDiv">
		<img src="https://cdn4.iconfinder.com/data/icons/meBaze-Freebies/512/add-user.png"
			class="imgSuperUser" > <a href = "/#/gestioneMacro"
			class="customerLink"> Impostazioni Macrofase </a>
	</div>
	<div class="insertDiv">
		<img src="https://cdn4.iconfinder.com/data/icons/meBaze-Freebies/512/user.png"
			class="imgSuperUser"> <a href = "/#/gestioneFase"
			class="customerLink">Impostazioni Fase</a>
	</div>
	<div class="insertDiv">
		<img src="https://cdn4.iconfinder.com/data/icons/meBaze-Freebies/512/edit-user.png"
			class="imgSuperUser"> <a href ="/#/gestioneTool"
			class="customerLink">Impostazioni Tool</a>
	</div>
</div>
</body>