<body>
	<h1 class="select">MENU' FASI</h1>
		<div class="menuDiv">
			<img src="https://cdn4.iconfinder.com/data/icons/meBaze-Freebies/512/delete-user.png "class="imgSuperUser"> 
			<a href="/#/insertFase" class="customerLink">
			Inserisci fase 
			</a><br>
		</div>
		<div class="menuDiv">
			<img src="https://cdn4.iconfinder.com/data/icons/meBaze-Freebies/512/delete-user.png "class="imgSuperUser"> 
			<a href="/#/readFase" class="customerLink">
			Visualizza fasi 
			</a><br>
		</div>
		<div class="menuDiv">
			<img src="https://cdn4.iconfinder.com/data/icons/meBaze-Freebies/512/delete-user.png "class="imgSuperUser"> 
			<a href="/#/updateFase" class="customerLink">
			Modifica fase 
			</a><br>
		</div>
		<div class="menuDiv">
			<img src="https://cdn4.iconfinder.com/data/icons/meBaze-Freebies/512/delete-user.png "class="imgSuperUser"> 
			<a href="/#/deleteFase" class="customerLink">
			Cancella fase 
			</a><br>
		</div>
</body>
