<body>

  <img src="https://i.postimg.cc/K81z1scJ/1063910-32.png" type = "submit"(click)="indietro(i)">
    <div class="deleteMacro">
		<h1>Elenco Macrofase da modificare</h1>
    </div>
    <div>
    	<div class="thingDiv" style="margin-top: -3%">
			<table class="readMacro">
			<tr>
                
               <th> </th>
			</tr>
            	<tr *ngFor= "let macroFase of macro">
				<th>Id Macro Fase: {{macroFase.idMacro}} and Tipologia: {{macroFase.tipologia}}</th>
			</tr>
            </table>     
    </div>   
                   
                <div class="updateThing">
                    <form #f=ngForm >
                        <table>
                            <tr>
                                <td><h2>Id Macrofase da Modificare:</h2></td>
                                <td><select name="idMacro" ngModel="idMacro">
                                        <option *ngFor="let macroFase of macro" [value]="macroFase.idMacro">{{macroFase.idMacro}}</option>
                                </select></td>
                            </tr>
                            <tr>
                                <td><h2>Modifica Tipologia</h2></td>
                                <td><input type="text" name="newTipologia"
                                    placeholder="inserire Tipologia" ngModel></td>
                            </tr>
                                
                        </table>
                        <button class="deleteButton" type="submit" (click)="update(f)">Modifica</button>
                    </form>
                </div>
            </div>
             </body>