<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.virtualpairprogrammers.servlets.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>4000</session-timeout>
  </session-config>
  <servlet>
    <servlet-name>CustomerServlet</servlet-name>
    <servlet-class>com.virtualpairprogrammers.servlets.CustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerServlet</servlet-name>
    <url-pattern>/Customer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>FloorController</servlet-name>
    <servlet-class>com.virtualpairprogrammers.servlets.FloorController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FloorController</servlet-name>
    <url-pattern>/Floor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ThingManager</display-name>
    <servlet-name>ThingManager</servlet-name>
    <servlet-class>com.virtualpairprogrammers.servlets.ThingManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ThingManager</servlet-name>
    <url-pattern>/Thing</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuildingServlet</display-name>
    <servlet-name>BuildingServlet</servlet-name>
    <servlet-class>com.virtualpairprogrammers.servlets.BuildingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuildingServlet</servlet-name>
    <url-pattern>/Building</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerLogin</display-name>
    <servlet-name>CustomerLogin</servlet-name>
    <servlet-class>com.virtualpairprogrammers.servlets.CustomerLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerLogin</servlet-name>
    <url-pattern>/CustomerLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GestioneRoom</display-name>
    <servlet-name>GestioneRoom</servlet-name>
    <servlet-class>com.virtualpairprogrammers.servlets.GestioneRoom</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GestioneRoom</servlet-name>
    <url-pattern>/GestioneRoom</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.virtualpairprogrammers.servlets.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Room</display-name>
    <servlet-name>Room</servlet-name>
    <servlet-class>com.virtualpairprogrammers.servlets.Room</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Room</servlet-name>
    <url-pattern>/Room</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RoomServlet</display-name>
    <servlet-name>RoomServlet</servlet-name>
    <servlet-class>com.virtualpairprogrammers.servlets.RoomServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RoomServlet</servlet-name>
    <url-pattern>/RoomServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ItemMenuServlet</display-name>
    <servlet-name>ItemMenuServlet</servlet-name>
    <servlet-class>com.virtualpairprogrammers.servlets.ItemMenuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ItemMenuServlet</servlet-name>
    <url-pattern>/ItemMenu</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GestioneCustomer</display-name>
    <servlet-name>GestioneCustomer</servlet-name>
    <servlet-class>com.virtualpairprogrammers.servlets.GestioneCustomer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GestioneCustomer</servlet-name>
    <url-pattern>/GestioneCustomer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FileGenerator</display-name>
    <servlet-name>FileGenerator</servlet-name>
    <servlet-class>com.virtualpairprogrammers.servlets.FileGenerator</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileGenerator</servlet-name>
    <url-pattern>/FileGenerator</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Downloader</display-name>
    <servlet-name>Downloader</servlet-name>
    <servlet-class>com.virtualpairprogrammers.servlets.Downloader</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Downloader</servlet-name>
    <url-pattern>/Downloader</url-pattern>
  </servlet-mapping>
</web-app>